<h1>Editing Quiz Question Answer</h1>

<%= render 'form', quiz_question_answer: @quiz_question_answer %>

<%= link_to 'Show', @quiz_question_answer %> |
<%= link_to 'Back', quiz_question_answers_path %>
