<% name = current_user.present? ? current_user.first_name : 'Desconocido' %>
<div class="offset-4 all-width">
 
</div>
<p class="">You are logged as: <%= name %>
<div class="contenedor_principal">
    <div class="row">
        <h1 class="text-center fw-light">Trivia game</h1>
            <div class="text-center fst-italic">
                <h4>Prove your knowledge... or not</h4>
            </div>
        
       
    </div>
</div>
<div class="text-center fw-bold">
    <%= link_to 'Quizes', quizzes_path, class: 'nav-link' %>
</div>
          


        
